html, body {
    margin: 0;
    padding: 0;
}

#board {
    margin: 0 auto;
    width: 500px;
}

.square {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    float: left;
    background-color: steelblue;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

.start {
    background-color: red;
}

.end {
    background-color: green;
}

.current-position {
    background-color: purple !important;
}

.marquee {
    background-color: orange;
    
}

.timer {
    display:inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: lime;
    font-size: 40px;
}