* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 700px;
    background-color: #FDFFFC;
    font-family: 'Lato', sans-serif;
}

button {
    margin-right: 20px;
    padding: 0 30px;
    height: 50px;
    background-color: #2EC4B6;
    border: 0 solid transparent;
    box-shadow: 3px 3px 5px #999;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #FDFFFC;
}

button:last-of-type { margin-right: 0; }
button:focus { outline: none; }
button:active { background-color: #ff9f1c; /* Orange */ }

#board {
    margin: 20px auto;
    width: 500px;
    overflow: hidden;
    box-shadow: 3px 3px 10px #999;
}

.button--selected { background-color: #ff9f1c; /* Orange */ }

.navbar {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    border-top: 2px solid #2EC4B6;
    background-color: #FDFFFC;
    color: #011627;
}

.board__controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 80px;
    padding: 20px;
    transform: translate(-50%, 0);
}

.navbar--flexbox,
.board__controls--flexbox {
    display: flex;
    align-items: center;
}
.navbar--flexbox { justify-content: space-between; }

.board__controls--flexbox { justify-content: center; }

.navbar--fixed-btm {
    position: fixed;
    left: 0;
    bottom: 0;
}

.navbar__title {
    padding: 0 30px;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #ff9f1c; /* Orange */
    letter-spacing: -0.5px;
}

.navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__list-item {
    padding-right: 30px;
    float: left;
}

.square {
    width: 100px;
    height: 100px;
    float: left;
    background-color: #eee;
    border: 1px solid #2EC4B6;
}

.current-position,
.target-goal {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.target-goal { background-image: url("assets/images/house.png"); }

.current-position { background-image: url("assets/images/drunken.png"); }

.marquee {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 10px 30px;
    width: 100%;
    height: 60px;
    box-shadow: 3px 3px 10px #999;
    background-color: #2EC4B6;
    font-size: 24px;
    color: #FDFFFC;
    z-index: 10;
}

.marquee__x:hover { cursor: pointer; }

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 20px;
    padding: 10px 60px;
    width: 250px;
    box-shadow: 3px 3px 10px #999;
    background-color: #E71D36;
    color: #FDFFFC;
}

.timer__seconds {
    font-size: 56px;
    font-weight: 700;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.card__container {
    display: flex;
    margin: auto;
    width: 50%;
    height: 30%;
}

.card__image {
    margin-right: 40px;
    width: 30%;
}

.card__message {
    padding: 20px;
    background-color: rgb(46, 196, 182);
    background-color: rgba(46, 196, 182, 0.8);
    border-radius: 10px;
}

.card__text {
    font-size: 24px;
    font-style: italic;
    color: #FDFFFC;
        line-height: 1.5em;
}