.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #2EC4B6;
    color: #FDFFFC;
    z-index: 1;
}

.navbar__title {
    padding: 40px 20px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__list-item {
    position: relative;
    padding: 20px 20px;
}

.navbar__list-item:hover {
    background-color: #FF9F1C;
    cursor: pointer;
}

#instructions .instructions__text,
#aboutChip .about-chip__text,
#aboutTheHouse .about-the-house__text {
    display: none;
    position: absolute;
    top: 0;
    left: 310px;
    padding: 20px;
    width: 325px;
    border: 2px solid #EEE;
    box-shadow: 1px 1px 3px #EEE;
    background-color: #FDFFFC;
    color: #313131;
}

#instructions:hover  .instructions__text,
#aboutChip:hover     .about-chip__text,
#aboutTheHouse:hover .about-the-house__text {
    display: block;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 800px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        top: auto;
        bottom: 40px;
        border-top: 2px solid #2EC4B6;
        background-color: rgba(250, 250, 250, 0.9);
        color: #FF9F1C;
    }

    .navbar__title {
        padding: 20px 10px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.75px;
    }
    .navbar__list-item {
        margin-right: 20px;
        padding: 0;
        float: left;
    }
    .navbar__list-item:last-child { margin-right: 10px; }

    .navbar__list-item:hover {
        background-color: initial;
        text-decoration: underline;
    }
}