* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 775px;
    background-color: #FDFFFC;
    font-family: 'Lato', sans-serif;
}
main {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
}

button {
    margin-right: 20px;
    padding: 0 30px;
    height: 50px;
    background-color: #2EC4B6;
    border: 0 solid transparent;
    box-shadow: 3px 3px 5px #999;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #FDFFFC;
}

button:last-of-type { margin-right: 0; }
button:focus { outline: none; }
button:active { background-color: #ff9f1c; /* Orange */ }
button:hover {
    cursor: pointer;
    background-color: #ff9f1c
}

#board {
    margin: 20px auto;
    width: 500px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #999;
}

.button--selected { background-color: #ff9f1c; /* Orange */ }

.board__controls { padding: 20px; }

.board__controls--flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    float: left;
    background-color: #eee;
    border: 1px solid #2EC4B6;
}

.current-position,
.target-goal {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.target-goal { background-image: url("../images/house.png"); }

.current-position { background-image: url("../images/drunken.png"); }

.marquee {
    display: none;
    margin: 10px auto;
    padding: 10px 30px;
    width: 95%;
    height: 60px;
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 2px;
    background-color: #2EC4B6;
    font-size: 24px;
    color: #FDFFFC;
}

.marquee__message {
    line-height: 40px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 10px 60px;
    width: 250px;
    box-shadow: 3px 3px 10px #999;
    border-radius: 2px;
    background-color: #E71D36;
    color: #FDFFFC;
}

.timer__seconds {
    font-size: 56px;
    font-weight: 700;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.card__container {
    display: flex;
    margin: auto;
    width: 50%;
    height: 30%;
}

.card__image {
    margin-right: 40px;
    width: 30%;
}

.card__message {
    padding: 20px;
    background-color: rgb(46, 196, 182);
    background-color: rgba(46, 196, 182, 0.8);
    border-radius: 10px;
}

.card__text {
    font-size: 24px;
    font-style: italic;
    color: #FDFFFC;
    line-height: 1.5em;
}

@media screen and (max-width: 800px) {
    main {
        left: auto;
        width: 100%;
    }
}